

form{
    width: 90%;
    margin: 0 auto;
}
label{
    font-size: 1.3rem;
    display: block !important;
    margin-bottom: .5rem;
}

.submit-formm{
    display: block !important;
    margin: 0 auto;
    margin-top: 1rem;
}
input[type="text"]{
    margin-bottom: .5rem;
    width: 100%;
    padding: .4rem .3rem;
    border-radius: .3rem;
    border: 1px solid black;
}
.error{
    color: red;
    padding-left: 2rem;
}
.form-wrap{
    display: flex !important;
}